* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    width: 100dvw;
}

header {
    width: 100%;
    height: 5rem;
    padding: 1rem;
    background-color: rgb(251, 216, 247);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header .left {
    display: flex;
    justify-content: center;
    align-items: end;
}

header .left a {
    text-decoration: none;
    color: black;
    padding: 1rem;
}

header .right {
    background: url('../images/icons8-user-96.png') white center;
    background-size: cover;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 0.1rem solid black;
}

header .right:hover {
    cursor: pointer;
}