<% if(success !=""){ %>
    <div class="alert alert-success" role="alert" style="font-size: smaller;">
        <%=success%>
    </div>
<% } %>
<% if(error!=""){ %>
    <div class="alert alert-danger" role="alert" style="font-size: smaller;">
        <%=error%>
    </div>
<% } %>
